.vs
Debug
x64
VK1.sln
VK1.vcxproj
VK1.vcxproj.filters
VK1.vcxproj.user
Debug/vc142.idb
Debug/vc142.pdb
Debug/VK1.exe
Debug/VK1.ilk
Debug/VK1.pdb
Debug/VK1.tlog/CL.command.1.tlog
Debug/VK1.tlog/CL.read.1.tlog
Debug/VK1.tlog/CL.write.1.tlog
Debug/VK1.tlog/link.command.1.tlog
Debug/VK1.tlog/link.read.1.tlog
Debug/VK1.tlog/link.write.1.tlog
Debug/VK1.tlog/VK1.lastbuildstate
Debug/VKMain.obj
Debug/VulkanApplication.obj
Debug/VulkanDevice.obj
Debug/VulkanInstance.obj
Debug/VulkanLayerAndExtension.obj
Debug/vc142.idb
Debug/vc142.pdb
Debug/VK1.exe
Debug/VK1.ilk
Debug/VK1.pdb
Debug/VK1.tlog/CL.command.1.tlog
Debug/VK1.tlog/CL.read.1.tlog
Debug/VK1.tlog/CL.write.1.tlog
Debug/VK1.tlog/link.command.1.tlog
Debug/VK1.tlog/link.read.1.tlog
Debug/VK1.tlog/link.write.1.tlog
Debug/VK1.tlog/VK1.lastbuildstate
Debug/VKMain.obj
Debug/VulkanApplication.obj
Debug/VulkanDevice.obj
Debug/VulkanInstance.obj
Debug/VulkanLayerAndExtension.obj
VK1.vcxproj
*.vcxproj
VK1.vcxproj
